/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #41658A; /* Lapis Lazuli */
    width: 100%; /* Expand across the full width of the screen */
    box-sizing: border-box;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFB997; /* Peach */
    text-decoration: none;
}

header .navigation {
    display: flex;
    gap: 1rem;
}

header .navigation a {
    text-decoration: none;
    color: #F4E285; /* Flax */
    font-size: 1rem;
}

header .navigation .btn {
    background-color: #F67E7D; /* Light Coral */
    color: #FFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

/*Body*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #414073; /* Delfy Blue */
    color: #70A37F; /* Cambridge Blue */
  }
  
  .projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: #70A37F; /* Cambridge Blue */
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .project-card {
    background-color: #c5b083;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .project-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .project-card p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .project-card a {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #000;
    transition: color 0.3s, border-color 0.3s;
  }
  
  .project-card a:hover {
    color: #444;
    border-color: #444;
  }